
<row>
  <div class="col-md-12 text-center margin-extra">

    <img src="/assets/img/hamburger.png" height="225px" width="225px" alt="Burger">

    <h2>Eat-Da-Burger</h2>

  </div>
</row>



<row>
  <!-- burgers -->
  <div class="col-sm-4 text-center">

    <h3>Burgers</h3>

    <ul>
      {{#each burgers}}
        {{#unless devoured}} 
       <li  class="li-view">{{id}}. {{burger_name}}</li>
        {{/unless}}
      {{/each}}
    </ul>
</div>


<!-- devour buttons-->
<div class="col-sm-4 text-center">

<h3>&nbsp;</h3>

<ul>
      {{#each burgers}}
        {{#unless devoured}}
          <li class="li-alt"><button class="change-devoured" data-id="{{id}}" id="{{id}}">Devour Burger</button></li>
        {{/unless}}
      {{/each}}
    </ul>

</div>


<!--devoured burgers-->
<div class="col-sm-4 text-center">
    
    <h3>Devoured</h3>

    <ul>
      {{#each burgers}}
        {{#if devoured}}
        <li class="li-view">{{id}}. {{burger_name}} </li>
        {{/if}}
    {{/each}}
    </ul>

  </div>
</row>


<!--  burger form -->
<row>
  <div class="col-md-12 text-center">
   
    <form class="create-form">

      <div class="form-group">
        <label for="bu">Enter the burger you want to eat. Then add a burger!</label>
        <input type="text" id="bu" name="burger_name" class="form-control">
      </div>

      <button type="submit" >Add a Burger</button>

      </form>
    </div>
  </row>
